{% extends "theme.html" %}
{% block title %} Register Page {% endblock %}
{% block content %}
    
    <div class="formcontainer">
        <form method="POST" action="/register">
            <label>Email:</label>
            <input type="email" name='email'>
            <label>Password:</label>
            <input type="password" name='password'>
            <label>Confirm Password</label>
            <input type="password" name='confirm_password'>
            <input type="submit" value="Submit">
        </form>
    </div>
    {% with messages = get_flashed_messages()%}
        {% if messages %}
            {% for msg in messages%}
                <p>{{msg}}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}
{% endblock %}